__MACOSX/
.vscode/settings.json
*~
emsdk/
*.swp
.cache/
compile_commands.json
.githooks/post-checkout
.githooks/post-commit
.githooks/post-merge
.githooks/pre-push
.DS_Store
*.raw
cmake-build
cmake-build-corrade
.DS_Store
compile_commands.json
.cache/
*.wasm
node_modules

